<p class="text-center" style="color:burlywood; font-size:50px">
    Book a animal
</p>
<p class="text-center; text-black" style="font-size:40px">
    Welkom you can book hier one or many animals for your party. choose the date of your party and fallow the steps
    to book a animal.
</p>

<form asp-controller="Booking" asp-action="Animals">

    <input type="date" id="Date" name="Date" required>
    <button class="btn-success" type="submit">Select</button>

</form>

<script>

    const today = new Date().toISOString().split('T')[0];

    document.getElementById('Date').setAttribute('min', today);
    
</script>