<p class="text-center" style="color:burlywood; font-size:50px">
    Book a animal
</p>
<p class="text-center; text-black" style="font-size:40px">
    Welcome! You can book one or multiple animals for your party here. Choose your party date and follow the steps to reserve an animal.    
</p>

<form asp-controller="Booking" asp-action="Animals" method="get">

    <div style="display:flex; justify-content:center">
        <input type="date" id="Date" name="Date" required>
        <button class="btn-success" type="submit">Select</button>
    </div>
    

</form>

<script>

    const today = new Date().toISOString().split('T')[0];

    document.getElementById('Date').setAttribute('min', today);
    
</script>