<p class="text-center" style="color:darkturquoise; font-size:50px">
    Book a animal
</p>
<p class="text-center; text-black" style="font-size:40px">
    Welkom you can book hier one or many animals for your party. choose the date of your party and fallow the steps
    to book a animal.
</p>

<form asp-controller="Booking" asp-action="Animals">

    <input type="date" id="Date" name="Date">
    <button class="btn-success" type="submit">Book</button>

</form>

<script>
    //Hier moet ik zorgen dat de gebruiker geen volledige datum kan selecteren
    
</script>