.dot{
    height:80px;
    width:80px;
    background-color:gray;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
}
/*.error-message {
    color: white;
    background-color: red;
    padding: 10px; 
    border-radius: 5px;
    font-weight: bold;
    text-align: center; 
    margin: 20px 0; 
}*/